<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete, local: false do %>
    <p style="color: red;">♥<%= book.favorites.count %></p>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post, local: false do %>
    <p style="color: blue;">♥<%= book.favorites.count %></p>
  <% end %>
<% end %>